project-container {
    background-color: rgb(12, 59, 121) !important;
    align-content: center;
    display: flex;
    justify-content:space-around;
    font-size: 150% !important;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(185, 97, 212);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}