
.baner {
    background-color: rgb(12, 59, 121) !important;
    align-content: center;
    font-size: 150% !important;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(185, 97, 212);
}
    
img  {
    width: 300px;
    
}
    
h1 {
    color: beige;
}
p1 {
    display: flex;
    justify-content: left;
}
h1, h2, p2, img {
    display: flex;
    justify-content: center;
}