.gallery-card {
    width: auto;
    margin: 2% !important;
    border-radius: 15px !important;
}

h5,
p {
    color: rgb(12, 59, 121) !important;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.deploy {
    margin: 5px;
    width: 6rem;
    color: rgb(12, 59, 121) !important;
    background-color: rgb(247, 244, 230) !important;
}

.repo {
    margin: 5px;
    width: 6rem;
    color: rgb(12, 59, 121) !important;
    background-color: rgb(247, 244, 230) !important;
}

@media all and (max-width: 1000px) {
    .gallery-card {
        width: auto;
    }
}