.container-footer {
    background-color: rgb(247, 244, 230) !important;
    align-content: center;
    display: flex;
    justify-content: space-around;

    font-size: 20px;
    color: rgb(12, 59, 121) !important;
    padding: 20px;

    width: 100%;
    margin: 0;
}